* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background: #fff;
  font-family: "Open Sans";
  font-size: 16px; }

.contenedor {
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden; }

/* ----- ----- HEADER ----- ----- */
header .menu  .check{
  margin-right: auto;
}
header {
  background: url("../imagen/fondo.png"), #000;
  background-repeat: no-repeat;
  background-position: center;
  max-height: 540px; }
  header .menu {
    margin: 40px 0;
    display: flex;
    justify-content: flex-end;
    align-items: center; }
    header .menu a {
      margin: 0 20px;
      color: #fff;
      padding-bottom: 9px;
      font-size: 1em;
      display: inline-block;
      text-decoration: none;
      border-bottom: 2px solid transparent; }
      header .menu a:hover {
        border-bottom: 2px solid #fff; }
  header .contenedor-texto {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 190px 0; }
    header .contenedor-texto .texto {
      border: 2px solid rgba(255, 255, 255, 0.5);
      border-radius: 3px;
      display: inline-block;
      text-align: center;
      padding: 20px 60px; }
      header .contenedor-texto .texto h1, header .contenedor-texto .texto h2 {
        color: #fff;
        font-weight: 300;
        margin: 0; }
      header .contenedor-texto .texto .nombre {
        margin-bottom: 10px;
        font-size: 50px;
        line-height: 50px; }
      header .contenedor-texto .texto .profesion {
        font-size: 25px;
        line-height: 25px; }
        header .contenedor-texto .texto{
          background: transparent;
          backdrop-filter: blur(10px);
          border: 2px solid rgba(255, 255, 255, .5);
          border-radius:3px ;
          display: inline-block;
          text-align: center;
          padding: 20px 60px;
      }
      @media screen and (max-width: 425px) {
        header .contenedor-texto .texto .nombre{
            font-size: 10px;
        }}
/* ----- ----- MAIN ----- ----- */
.main .contenedor {
  overflow: visible; }
.main .acerca-de {
  text-align: center; }
  .main .acerca-de .foto {
    margin-top: -60px; }
    .main .acerca-de .foto img {
      border-radius: 50%;
      vertical-align: top;
      border: 5px solid rgba(255, 255, 255, 0.2); }
  .main .acerca-de .texto {
    color: #5a5a5a;
    font-weight: 600;
    font-size: 1em;
    line-height: 30px;
    width: 80%;
    margin: 40px auto 60px auto; }
    .main .acerca-de .texto .titulo {
      font-size: 34px;
      margin-bottom: 40px;
      line-height: 34px;
      font-weight: 300;
      color: #dd820d;
      text-align: center; }
    .main .acerca-de .texto .bold {
      color: #3895ea;
      text-decoration: underline; }
.main .trabajos {
  background: #f2f2f2;
  padding: 60px 0; }
  .main .trabajos .contenedor {
    overflow: hidden; }
  .main .trabajos .titulo {
    font-size: 34px;
    line-height: 34px;
    margin-bottom: 60px;
    font-weight: 300;
    color: #323068;
    text-align: center; }
  .main .trabajos .contenedor-trabajos {
    display: flex;
    flex-direction: rows;
    flex-wrap: wrap;
    justify-content: space-between; }
    .main .trabajos .contenedor-trabajos .trabajo {
      width: 23%;
      margin-bottom: 40px; }
      .main .trabajos .contenedor-trabajos .trabajo .thumb {
        width: 100%;
        margin-bottom: 10px; }
        .main .trabajos .contenedor-trabajos .trabajo .thumb img {
          vertical-align: top;
          width: 100%;
          border-radius: 3px; }
      .main .trabajos .contenedor-trabajos .trabajo .descripcion {
        text-align: center; }
        .main .trabajos .contenedor-trabajos .trabajo .descripcion .nombre {
          font-weight: 700;
          color: #3895ea;
          margin-bottom: 10px; }
        .main .trabajos .contenedor-trabajos .trabajo .descripcion .categoria {
          font-size: 14px;
          color: #636363; }
/* ----- ----- FOOTER ----- ----- */
footer .redes-sociales .contenedor a img {
  width: 32px;
  height: 32px;
  vertical-align: middle;
  margin-right: 10px;
}
footer{
  /* padding: 15px 0 0 0; */
  background-color: #f0f0f0;
}
footer .contacto {
  padding: 60px 0; }
  footer .contacto .titulo {
    font-size: 34px;
    line-height: 34px;
    margin-bottom: 60px;
    font-weight: 900;
    color: #3895ea;
    text-align: center; }
  footer .contacto .formulario {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    footer .contacto .formulario input[type="text"],
    footer .contacto .formulario input[type="email"],
    footer .contacto .formulario textarea {
      border: 2px solid #cecece;
      border-radius: 5px;
      padding: 15px 20px;
      font-size: 20px;
      color: #a4a4a4; }
    footer .contacto .formulario input[type="text"],
    footer .contacto .formulario input[type="email"] {
      width: 49%;
      margin-bottom: 15px; }
    footer .contacto .formulario textarea {
      width: 100%;
      height: 100px;
      min-width: 100%;
      margin-bottom: 15px;
      min-height: 100px;
      max-height: 300px; }
    footer .contacto .formulario .boton {
      margin: auto;
      background: #3895ea;
      color: #fff;
      border: none;
      border-radius: 3px;
      padding: 15px 40px; }
      footer .contacto .formulario .boton:hover {
        background: #387bea; }
footer .redes-sociales {
  background: #1e2b38;
  padding: 60px 0; }
  footer .redes-sociales .contenedor {
    display: flex;
    justify-content: center; }
    footer .redes-sociales .contenedor a {
      color: #fff;
      text-align: center;
      width: 100px;
      font-size: 30px;
      padding: 15px 0;
      display: block;
      margin: 0 20px;
      border-radius: 3px; }
    footer .redes-sociales .contenedor .whatsapp:hover {
      background: #25D366; }
    footer .redes-sociales .contenedor .telegram:hover {
      background: #85B2FF; }
    /* footer .redes-sociales .contenedor .youtube:hover {
      background: #cd201f; } */
    /* footer .redes-sociales .contenedor .github:hover {
      background: #666666; } */
    footer .redes-sociales .contenedor .instagram:hover {
      background: #D62976; }

/* ----- ----- MEDIA QUERIES ----- ----- */
@media screen and (max-width: 800px) {
  header .menu {
    text-align: center; }

  .main .trabajos .contenedor-trabajos .trabajo {
    width: 46%; } }
@media screen and (max-width: 500px) {
  header .contenedor-texto .texto .nombre {
    font-size: 35px; }
  header .contenedor-texto .texto .profesion {
    font-size: 18px; }

  footer .redes-sociales .contenedor {
    flex-wrap: wrap; }
    footer .redes-sociales .contenedor a {
      padding: 20px; } }


/*# sourceMappingURL=estilos.css.map */

/* -----------CONTENEDOR-MAIN -------------*/
.contenedor-main{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10rem;
  background-color: #f0f0f0 ;
}
@media only screen and (max-width: 425px)  {
  .contenedor-main{
      grid-template-columns: 1fr;
      grid-gap: 8rem;
  }
}
@media only screen and (max-width: 768px)  {
  .contenedor-main{
      grid-template-columns: 1fr;
      grid-gap: 8rem;
  }
}
@media only screen and (max-width: 768px)  {
  .contenedor-main .acercaDe-contenedor .acercaDe-detalles .acercaDe-detalles-p{
      display: inline-block;
      align-items: center;
  }
}
@media only screen and (max-width: 768px)  {
  .contenedor-main .misHabilidades .habilidades-detalles {
      display: flex;
      justify-content: center;
  }
}

.acercaDe-titulo{
  font-weight: 700;
  font-size: 32px;
}
.acercaDe-titulo, .habilidad-titulo{
  margin: 20px 0;
}
@media only screen and (max-width: 425px)  {
  .acercaDe-titulo{
      font-weight: 600;
      font-size: 30px;
  }
}
.acercaDe-detalles-p{
  font-size: 20px;
  color: #666;
  max-width: 60rem;
  line-height: 1.7;
  margin-bottom: 1rem;
  padding: 0 0 0 20px;
}
.btn{
  background: #3895ea;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  font-weight: 700;
  border-radius: 5px;
  transition: transform .3s;
  padding: 15px 25px;
  margin: 20px auto;
  font-size: 15px;
  text-decoration: none;
}
.btn:hover{
  background-color: #2470eb;
}
.habilidad-titulo{
  font-weight: 700;
  font-size: 32px;
  
}
.habilidades-detalles{
  display: flex;
  flex-wrap: wrap;
}
.habilidad{
  padding: 1rem 2rem;
  margin-bottom: 25px;
  margin-right: 25px;
  font-size: 25px;
  background: rgba(153,153,153,.2);
  border-radius: 5px;
  font-weight: 600;
  color: #666;
}
.main .contenedor{
  overflow: visible;
}
.main .acerca-de{
  text-align: center;
  
}
.main .acerca-de .foto{
  margin-top: -60px;
}
.main .acerca-de .foto img{
  vertical-align: top;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.2);
}
.main .acerca-de .texto{
  color: #5a5a5a;
  font-weight: 600;
  font-size: 1em;
  line-height: 30px;
  width: 80%;
  margin: 40px auto 60px auto;
}
.main .acerca-de .texto  .detalle{
  display: block;
  text-align: center;
  color: #555;
  font-size: 25px;
  font-weight: 700;
  max-width: 80rem;
  margin: auto;
}
.main .acerca-de .texto .titulo{
  font-size: 34px;
  line-height: 34px;
  margin-bottom: 40px;
  font-weight: 300;
  color: #dd820d;
  text-align: center;
}
@media only screen and (max-width: 425px) {
  .main .acerca-de .texto .detalle {
      top: calc(100% + 1.2rem);
      font-size: 18px;
      font-weight: 300;}}
.contenedor-proyectos{
  max-width: 120rem;
  margin: auto;
  width: 92%;
}
.contenedor-proyectos .contenido{
  margin-bottom: 100px;
}
.contenedor-proyectos h2{
  font-size: 34px;
  line-height: 34px;
  margin-bottom: 40px;
  font-weight: 700;
  color: #3895ea;
  text-align: center;
}
.contenedor-proyectos p{
  display: block;
  text-align: center;
  color: #555;
  font-size: 25px;
  font-weight: 400;
  max-width: 80rem;
  margin: auto;
}
@media only screen and (max-width: 425px)  {
  .contenido-proyectos{
      align-items: center;
  }
}
@media only screen and (max-width: 425px)  {
  .contenido-proyectos .detalle h1{
      font-weight: 600;
      font-size: 25px;
      margin-bottom: 1rem;
  }
}
@media only screen and (max-width: 425px)  {
  .contenido-proyectos .detalle p{
      font-size: 1.8rem;
      color: grey;
      max-width: 60rem;
      line-height: 1.7;
      margin-bottom: 3rem;
  }
}

.contenido-proyectos .proyectos{
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-gap: 5rem;
  margin-bottom: 11rem;
}
@media only screen and (max-width: 425px)  {
  .contenedor-proyectos .proyectos{
      grid-template-columns: 1fr;
      grid-gap: 30px;
      margin-bottom: 8rem;
  }
}
@media only screen and (max-width: 768px)  {
  .contenedor-proyectos .proyectos{
      grid-template-columns: 1fr;
      grid-gap: 30px;
      margin-bottom: 8rem;
  }
}
.contenido-proyectos .proyectos .img{
  overflow: hidden;
}

.contenido-proyectos .proyectos img{
  width: 100%;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
}
.contenido-proyectos .proyectos .detalle{
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}
.contenido-proyectos .proyectos .detalle h3{
  font-size: 25px;
  font-weight: 700;
}
.contenido-proyectos .proyectos .detalle p{
  text-align: left;
  font-size: 20px;
}
.footer{
  padding: 30px 0 0 0;
  border-top: 1px solid  #444 ;
  color: #eee;
  font-size: 18px;
  text-align: left;
  text-align: center;
}